/* Site Styles Go Here */

body {
        background-color: #e3e6e8;
    }

.flex_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-item-flex {
    flex: 0 1 auto;
}
.card-img-top:hover {
    transform: scale(2, 2);
    float: none;
    transition-duration: 2s;
    transition: all .8s ease-in-out;
    transition-timing-function: cubic-bezier(0.25, 0.74, 0.22, 0.99);
    position: relative;
    z-index: 3;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #c8cbcf;
    }
}
